<hr />
<p>
  <% if (dados?.meta?.status === 'success') { %>
  <% if (dados?.response?.result) {%>
  <%= `Resultado: ${(dados.response.result * 100).toFixed(2)}%` %>
  <% } %>
  <% } else if (dados?.meta?.status == 'erro') { %>
  <%= dados?.meta?.message %>
  <% } else { %>
    Escolha o tempo e entre com a taxa para realizar a conversão.
  <% } %>
</p>
<div>
  <% if (dados?.response?.formula) { %>
  <p class="alert alert-primary">Fórmula utilizada:
    <span class="fs-4"><%= dados.response.formula %></span>
  </p>
  <% } %>
</div>